.bg-blue{
    background-color: skyblue;
}

.bg-pink{
    background-color: hotpink;
}

.skyblue{
    background-color: skyblue;

}
.violet{
    background-color: violet;
}
.lightgreen{
    background-color: lightgreen;
}